{% extends 'layout.html' %}
{% block title %}
    Weather
{% endblock %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Weather Today in {{ forecast.location }}, {{ forecast.region }}, {{ forecast.country }}</h5>
                <div class="container card-text">
                    <div class="row">
                        <div class="col-2">
                            <p>Feels like</p>
                            <h1>{{ forecast.feels_like }}˚ {{ forecast.temperature_unit }}</h1>
                        </div>
                        <div class="col-10"></div>
                    </div>
                    <div class="row">
                        <div class="col m-2">
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                    <tr class="row">
                                        <th scope="row"></th>
                                        <td><i class="fa-solid fa-user"></i> Weather: {{ forecast.kind }}{{ forecast.kind.emoji }}</td>
                                        <td><i class="fa-solid fa-user"></i>Humidity: {{ forecast.humidity }} %</td>
                                        <td><i class="fa-solid fa-user"></i>Pressure: {{ forecast.pressure }} {{ forecast.pressure_unit }}</td>
                                        <td><i class="fa-solid fa-user"></i>Precipitation: {{ forecast.precipitation }} {{ forecast.precipitation_unit }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col m-2">
                                <table class="table">
                                    <thead></thead>
                                    <tbody>
                                        <tr class="row">
                                            <td><i class="fa-solid fa-user"></i>Wind Direction: {{ forecast.wind_direction }}</td>
                                            <td><i class="fa-solid fa-user"></i>Wind Speed: {{ forecast.wind_speed }} {{ forecast.velocity_unit }}</td>
                                            <td><i class="fa-solid fa-user"></i>Visibility: {{ forecast.visibility }} {{forecast.visibility_unit }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tr>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
    

    
    
    
