{% extends 'layout.html' %}
{% block title %}
    Weather
{% endblock %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Weather Today in {{ forecast.location }}, {{ forecast.region }}, {{ forecast.country }}</h5>
                <div class="container card-text">
                    <div class="row">
                        <div class="col-2">
                            <p>Feels like</p>
                            <h1>{{ forecast.feels_like }}˚ {{ forecast.temperature_unit }}</h1>
                        </div>
                        <div class="col-10"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Kind: {{ forecast.kind }}{{ forecast.kind.emoji }}</p>
                            <p>Humidity: {{ forecast.humidity }} %</p>
                            <p>Pressure: {{ forecast.pressure }} {{ forecast.pressure_unit }}</p>
                            <p>Precipitation: {{ forecast.precipitation }} {{ forecast.precipitation_unit }}</p>
                        </div>
                        <div class="col">
                            <p>Wind Direction: {{ forecast.wind_direction }}</p>
                            <p>Wind Speed: {{ forecast.wind_speed }} {{ forecast.velocity_unit }}</p>
                            <p>Visibility: {{ forecast.visibility }} {{forecast.visibility_unit }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
    

    
    
    
